# pixi environments
.pixi/*
!.pixi/config.toml

# generated shim
shim/libclang_mojo_shim.so

# planning documents
plans/
example.mojo
opencode.json
.agents
skills-lock.json
dist/*
.agents
*.mojo
skills-lock.json
