# pixi environments
.pixi/*
!.pixi/config.toml

# generated shim
shim/libclang_mojo_shim.so

# planning documents
plans/
example.mojo
opencode.json
.agents
*.mojo
!clang/_metadata.mojo
!clang/module.mojo
!clang/version.mojo
!test/test_version.mojo
skills-lock.json
dist/*
.agents
skills-lock.json
